<h1 mat-dialog-title>
  <span>{{ title }}</span>
  
  <button mat-icon-button mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
</h1>

<form mat-dialog-content #form="ngForm" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="fill">
    <mat-label>Username</mat-label>
    <input
      #username="ngModel"
      matInput
      name="username"
      required
      [(ngModel)]="userModel.username"
      [ngModelOptions]="{ updateOn: 'blur' }"
      [appUsernameTaken]="usernameExclusion"
    >
    <mat-spinner *ngIf="username.pending" matSuffix diameter="20"></mat-spinner>
    <mat-error *ngIf="username.hasError('usernameTaken')">
      This username is already taken.
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>First Name</mat-label>
    <input matInput name="first-name" required [(ngModel)]="userModel.firstName">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Last Name</mat-label>
    <input matInput name="last-name" required [(ngModel)]="userModel.lastName">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Email</mat-label>
    <span matPrefix><mat-icon>alternate_email</mat-icon></span>
    <input
      #email="ngModel"
      matInput
      name="email"
      required
      email
      [(ngModel)]="userModel.email"
    >
    <mat-error *ngIf="email.hasError('email')">
      Please specify a correct email address
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Type</mat-label>
    <mat-select name="type" required [(ngModel)]="userModel.type">
      <mat-option *ngFor="let type of types" [value]="type">
        {{ type }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field
    appearance="fill"
    [class.password-incorrect]="password.hasError('pattern')"
  >
    <mat-label>Password</mat-label>
    <input
      #password="ngModel"
      matInput
      name="password"
      type="password"
      required
      pattern="^(?=.*[a-zA-Z])(?=.*\d).{8,}$"
      [(ngModel)]="userModel.password"
    >
    <mat-error *ngIf="password.hasError('pattern')">
      Password must contain at least one letter, at least one number and be at least 8 characters long
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Repeat password</mat-label>
    <input
      #repeatPassword="ngModel"
      matInput
      name="repeat-password"
      type="password"
      required
      [appSameValueValidator]="password.control"
      [(ngModel)]="userModel.repeatPassword"
    >
    <mat-error *ngIf="repeatPassword.hasError('valueMismatch')">
      Passwords don't match
    </mat-error>
  </mat-form-field>

  <div *ngIf="isNewUser" class="new-user-actions">
    <button
      mat-flat-button
      color="primary"
      type="submit"
      [disabled]="form.invalid || username.pending || saving"
    >
      Create User

      <mat-icon *ngIf="saving">
        <mat-spinner diameter="20"></mat-spinner>
      </mat-icon>
    </button>
  </div>

  <div *ngIf="!isNewUser" class="existing-user-actions">
    <div>
      <button
        mat-flat-button
        color="warn"
        type="button"
        [disabled]="form.invalid || username.pending || saving || deleting"
        (click)="onDelete()"
      >
        Delete

        <mat-icon *ngIf="deleting">
          <mat-spinner diameter="20"></mat-spinner>
        </mat-icon>
      </button>
    </div>

    <button
      mat-flat-button
      color="primary"
      type="submit"
      [disabled]="form.invalid || username.pending || saving || deleting"
    >
      Save

      <mat-icon *ngIf="saving">
        <mat-spinner diameter="20"></mat-spinner>
      </mat-icon>
    </button>
  </div>
</form>