:host {
  display: block;
  padding: 1rem;
}

.create-user-wrapper {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1rem;
}

table {
  width: 100%;

  tr.user-row:hover {
    background: rgba(0, 0, 0, .04);
    cursor: pointer;
  }
}

.spinner-wrapper {
  display: flex;
  justify-content: center;
}